@model Entities.Account

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Giriş Yap", "Login", "User")
<br/>
@Html.ActionLink("Üye Ol", "Register", "User")
<br/>
@Html.ActionLink("Çıkış", "Logout", "User")