@model  Entities.Product

@{
    ViewBag.Title = "Index";
}
@ViewData["ilanlar"]
@foreach (var item in ViewData["ilanlar"] as IEnumerable<Entities.Product>)
{
    <div class="single-products-catagory clearfix">
        <a href="/Product/Index?id=@item.Id">
            <img src="@item.ImagePath" alt=""/>
            <!-- Hover Content -->
            <div class="hover-content">
                <div class="line"></div>
                <h4>@item.Name</h4>
                <p>@item.PublishDate.ToString()</p>
            </div>
        </a>
    </div>

}

